<!-- ===========Innerpage-wrapper============= -->
<section>
    <div class="content listing-content users-list">
        <div class="in-content-wrapper">
            <div class="row no-gutters" style="height: 90px;">
                <div class="col">
                    <div class="heading-messages">
                        <h3>Listing</h3>
                    </div>
                    <!-- End heading-messages -->
                </div>
                <div class="col-md-4">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <i class="fa fa-angle-right"></i><a href="#">Listing</a>
                        </div>
                        <div class="breadcrumb-item active">
                            <i class="fa fa-angle-right"></i>All
                        </div>
                    </div>
                    <!-- end breadcrumb -->
                </div>
                <!-- End column -->
            </div>
            <!-- end row -->

            <div class="box">
                <div class="row no-gutters">
                    <div class="col text-left">
                        <div class="add-new">
                            <a href="users-create-user.html">Add New<i class="fa fa-plus"></i
              ></a>
                        </div>
                        <!-- End add-new-->
                    </div>
                    <!-- End column-->
                    <div class="col text-right">
                        <div class="tools-btns">
                            <a href="#"><i
                  class="fa fa-print"
                  data-toggle="tooltip"
                  data-html="true"
                  title="Print"
                ></i
              ></a>
                            <a href="#"><i
                  class="fa fa-file"
                  data-toggle="tooltip"
                  data-html="true"
                  title="Pdf"
                ></i
              ></a>
                        </div>
                        <!-- End tool-btns-->
                    </div>
                    <!-- End text-right-->
                </div>
                <!-- end row -->
                <div class="mat-elevation-z8">
                    <table mat-table #Table [dataSource]="userDataSource" style="width: 100%;">
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>No.</th>
                            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                        </ng-container>

                        <!-- Username Column -->
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef>Username</th>
                            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
                        </ng-container>

                        <!-- Role Column -->
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef>Role</th>
                            <td mat-cell *matCellDef="let element">{{ element.role }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                </div>

                <!-- end row -->
            </div>
            <!-- end box -->
        </div>
        <!-- end in-content-wrapper -->
    </div>
    <!-- end users-list -->
</section>
<!-- ===========End Innerpage-wrapper============= -->