<body class="body-wrapper ">
    <div class="main-wrapper">
        <!-- HEADER -->
        <header>
            <nav class="navbar navbar-default navbar-main navbar-fixed-top   lightHeader " role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                        <a class="navbar-brand" href="index.html"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown singleDrop ">
                                <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home
                </a>
                            </li>
                            <li class="dropdown singleDrop ">
                                <a [routerLink]="['/user']" routerLinkActive="router-link-active" role="button" aria-haspopup="true" aria-expanded="false">Account</a
                >
              </li>
              <li class="dropdown singleDrop ">
                <a
                  [routerLink]="['/auth/sign-in']"
                  routerLinkActive="router-link-active"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Signin</a
                >
              </li>
              <li class="dropdown singleDrop ">
                <a
                  [routerLink]="['/auth/sign-up']"
                  routerLinkActive="router-link-active"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Signup</a
                >
              </li>
              <li>
                <div class="navbar-btn">
                  <a
                    [routerLink]="['/host']"
                    routerLinkActive="router-link-active"
                    type="button"
                    class="btn btn-nav"
                    >Become a host</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- PAGE TITLE -->
    <section
      class="pageTitle"
      style="background-image:url(../../assets/img/pages/page-title-bg12.jpg);"
    ></section>

    <section class="mainContentSection packagesSection">
      <div class="container">
        <div class="sort-by-section">
          <div class="row">
            <div class="col-xs-12 col-sm-6"></div>
            <div class="col-xs-12 col-sm-6">
              <div class="icon-right pull-right">
                <div class="icon ">
                  <a
                    [routerLink]="['/city']"
                    routerLinkActive="router-link-active"
                    ><i class="fa fa-bars" aria-hidden="true"></i
                  ></a>
                    </div>
                    <div class="icon active">
                        <a href="hotels-grid-left-sidebar.html"><i class="fa fa-th" aria-hidden="true"></i
                  ></a>
                    </div>
                </div>
    </div>
    </div>
    </div>
    <div class="row">
        <aside class="col-sm-3 col-xs-12">
            <div class=" hotelListSidebar">
                <div class="panel-heading-title">
                    <h3>Filter by</h3>
                </div>
                <div class="panel-group" id="accordion-filter" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="check-box-list">
                                    <div class="row">
                                        <form [formGroup]="form" method="post" (ngSubmit)="submit()">
                                            <div class="form-check col-sm-12">
                                                <label formArrayName="listFeature" *ngFor="
                                  let feature of form.controls.listFeature
                                    .controls;
                                  let i = index
                                ">
                                <input type="checkbox" [formControlName]="i"/>{{
                                  listFeature[i]
                                }}
                                <br /></label

                              ><br />
                            </div>
                            <div class="col-sm-12">
                              <button
                                type="submit"
                                class="btn btn-block buttonTransparent"
                                [disabled]="!form.valid"
                              >
                                Search
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <div class="col-sm-9 col-xs-12">
            <div class="row">
              <div
                class="col-lg-4 col-sm-6 col-xs-12"
                *ngFor="let hotel of topHotel"
              >
                <div class="thumbnail deals packagesPage hotelgrid">
                  <img
                    class="media-object"
                    src="{{ hotel.img }}" style="width:350px ; height:241px !important "
                    alt="Image"
                    alt="deal-image"
                  />
                  <a
                    href="{{ hotel.img }}"
                    style="width:350px ; height:241px !important "
                    class="pageLink"
                  ></a>
                  <div class="discountInfo">
                    <ul class="list-inline rating homePage">
                      {{
                        hotel.rating
                      }}
                      <i class="fa fa-star" style="color:#d8ff00"></i>
                    </ul>
                  </div>
                  <div class="caption">
                    <h4>
                      <a
                        href="single-package-left-sidebar.html"
                        class="captionTitle"
                        >{{ hotel.name }}</a
                      >
                    </h4>
                    <p>{{ hotel.address }}</p>
                    <div class="detailsInfo">
                      <h5><span>Per Night</span> {{ hotel.price }} VND</h5>
                      <ul class="list-inline detailsBtn">
                        <li>
                          <a href="booking-1.html" class="btn buttonTransparent"
                            >Book now</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="paginationCenter">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"
                      ><i class="fa fa-long-arrow-left" aria-hidden="true"></i
                      >Previous</span
                    >
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">9</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true"
                      >Next<i
                        class="fa fa-long-arrow-right"
                        aria-hidden="true"
                      ></i
                    ></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent">
                <a href="index.html" class="footer-logo"
                  ><img
                    src="../../../assets/img/logo-color-sm.png"
                    alt="footer-logo"
                /></a>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                </p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent">
                <h5>contact us</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                  do eiusmod.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-home" aria-hidden="true"></i>61 Park Street,
                    Fifth Avenue, NY
                  </li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524
                    332
                  </li>
                  <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i
                    ><a href="mailTo:info@star-travel.com"
                      >info@star-travel.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent imgGallery">
                <h5>Gallery</h5>
                <div class="row">
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-1.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-1.jpg"
                        alt="image"
                    /></a>
                  </div>
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-2.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-2.jpg"
                        alt="image"
                    /></a>
                  </div>
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-3.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-3.jpg"
                        alt="image"
                    /></a>
                  </div>
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-4.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-4.jpg"
                        alt="image"
                    /></a>
                  </div>
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-5.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-5.jpg"
                        alt="image"
                    /></a>
                  </div>
                  <div class="col-xs-4">
                    <a
                      class="fancybox-pop"
                      href="img/home/gallery/gallery-6.jpg"
                      ><img
                        src="../../../assets/img/home/gallery/thumb-gallery-6.jpg"
                        alt="image"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerContent">
                <h5>newsletter</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                  do.
                </p>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                    aria-describedby="basic-addon21"
                  />
                  <span class="input-group-addon" id="basic-addon21"
                    ><i class="fa fa-long-arrow-right" aria-hidden="true"></i
                  ></span>
                </div>
                <ul class="list-inline">
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-pinterest-p" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-vimeo" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-xs-12">
              <ul class="list-inline">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-xs-12">
              <div class="copyRightText">
                <p>
                  Copyright © 2016. All Rights Reserved by
                  <a target="_blank" href="http://www.iamabdus.com/">me</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- Signup Modal -->
  <div
    class="modal fade signupLoging"
    id="signup"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content modalContentCustom">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Create your account</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="">
            <div class="form-group">
              <input
                type="text"
                class="form-control bg-ash"
                id="exampleInputEmail1"
                placeholder="Full Name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control bg-ash"
                id="exampleInputPassword1"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control bg-ash"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" /> I agree to the terms of use and
                privacy.
              </label>
                                            </div>
                                            <button type="submit" class="btn btn-default">Login</button>
                                        </form>
                                        <div class="or">
                                            or
                                        </div>
                                        <a class="btn btn-default btnSocial" href="#">Log in with facebook</a>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="dontHaveAccount">
                                            <p>Don’t have an Account?<a href=""> Sign up</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Login Modal -->
                        <div class="modal fade signupLoging" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content modalContentCustom">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                        <h4 class="modal-title" id="myModalLabel">Log in to your account</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="">
                                            <div class="form-group">
                                                <input type="email" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control bg-ash" id="exampleInputPassword1" placeholder="Password" />
                                            </div>
                                            <div class="checkbox">
                                                <label> <input type="checkbox" /> Remember me </label>
                                                <a class="forgotPass clerfix" href="">Fogot Password?</a>
                                            </div>
                                            <button type="submit" class="btn btn-default">Login</button>
                                        </form>
                                        <div class="or">
                                            or
                                        </div>
                                        <a class="btn btn-default btnSocial" href="#">Log in with facebook</a>
                                    </div>

                                    <div class="modal-footer">
                                        <div class="dontHaveAccount">
                                            <p>Don’t have an Account?<a href=""> Sign up</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</body>