<!-- PAGE TITLE -->
<section class="pageTitle" style="background-image:url(../../../assets/img/pages/page-title-bg12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Marriott Hotel</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PAGE CONTENT -->
<section class="mainContentSection singleHotel">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="package-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#package-carousel" data-slide-to="0" class=""></li>
                                <li data-target="#package-carousel" data-slide-to="1" class=""></li>
                                <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img alt="First slide" src="img/holets/hotel-slider-01.jpg">
                                </div>
                                <div class="item">
                                    <img alt="Second slide" src="img/holets/hotel-slider-02.jpg">
                                </div>
                                <div class="item active">
                                    <img alt="Third slide" src="img/holets/hotel-slider-03.jpg">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                            <a class="right carousel-control" href="#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="description-aria">
                            <div class="sectionTitle2">
                                <h2>description</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
                                    Duis aute irure dolor in reprehenderit</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="rooms-types-aria">
                            <div class="sectionTitle2">
                                <h2>rooms types</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="roomCategory">
                                <div class="sub-title">
                                    <h4>Double Room</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                                        consequat. Duis aute irure dolor in reprehenderit</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <ul class="roomAdvantage">
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-1.png" alt="Image">Breakfast</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-2.png" alt="Image">Plasma TV</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-3.png" alt="Image">Free wifi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="roomRate">
                                            Per Night: <span>$150</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="roomGellary">
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-01.jpg">
                                            <img src="img/holets/hotel-list-01.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-02.jpg">
                                            <img src="img/holets/hotel-list-02.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-03.jpg">
                                            <img src="img/holets/hotel-list-03.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-04.jpg">
                                            <img src="img/holets/hotel-list-04.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-05.jpg">
                                            <img src="img/holets/hotel-list-05.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="roomCategory">
                                <div class="sub-title">
                                    <h4>Single Room</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                                        consequat. Duis aute irure dolor in reprehenderit</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <ul class="roomAdvantage">
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-1.png" alt="Image">Breakfast</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-2.png" alt="Image">Plasma TV</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/packages/shape-icon-3.png" alt="Image">Free wifi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="roomRate">
                                            Per Night: <span>$150</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="roomGellary">
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-03.jpg">
                                            <img src="img/holets/hotel-list-03.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-06.jpg">
                                            <img src="img/holets/hotel-list-06.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-07.jpg">
                                            <img src="img/holets/hotel-list-07.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-08.jpg">
                                            <img src="img/holets/hotel-list-08.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                    <div class="single-item">
                                        <a class="fancybox-pop" rel="portfolio-1" href="img/holets/hotel-list-09.jpg">
                                            <img src="img/holets/hotel-list-09.jpg" alt="Double Room">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="location-aria">
                            <div class="sectionTitle2">
                                <h2>Location</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="google-maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12097.002861286059!2d-74.01154310416635!3d40.71249695811257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1502716241862"
                                    width="100%" height="400px" scrolling="no" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="review-aria">
                            <div class="sectionTitle2">
                                <h2>Reviews</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="reviewContent">
                                <h3 class="reviewTitle">
                                    Reviews (3)
                                    <span>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                                </h3>

                                <div class="reviewMedia">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../../assets/img/blog/comments-02.jpg" alt="Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jessica Brown</h5>
                                                <span>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../../assets/img/blog/comments-01.jpg" alt="Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jessica Brown</h5>
                                                <span>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="../../../assets/img/blog/comments-03.jpg" alt="Image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">Jessica Brown</h5>
                                                <span>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              <i class="fa fa-star-0" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan totam rem ape riam</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <form action="" method="POST" role="form" class="commentsForm">
                                    <h3 class="reviewTitle">Leave your review</h3>
                                    <p>Want to Rate it? <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-0" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                      </span></p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn buttonCustomPrimary">submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-sm-4 col-xs-12">
                <div class="singleCartSidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">Check availability</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Check in:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                                    <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Check out:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                                                    <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Guest:</label>
                                            <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                                                <div class="count-input">
                                                    <a class="incr-btn" data-action="decrease" href="#">–</a>
                                                    <input class="quantity" type="text" value="1">
                                                    <a class="incr-btn" data-action="increase" href="#">+</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="totalCost">
                                            <div class="col-xs-8 totalCostLeft">
                                                <p>Total Cost</p>
                                            </div>
                                            <div class="col-xs-4 totalCostRight">$198</div>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="btn btn-block buttonTransparent">Check now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- RELATED SECTION -->
<section class="relatedSection">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle2">
                    <h2>you may also like</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <div class="thumbnail deals hotelgrid">
                        <img src="../../../assets/img/holets/hotel-list-01.jpg" alt="deal-image">
                        <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
                        <div class="discountInfo discountCol-3">
                            <ul class="list-inline rating homePage">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            </ul>
                            <ul class="list-inline dates">
                                <li>4 review</li>
                            </ul>
                        </div>
                        <div class="caption">
                            <h4><a href="single-hotel-right-sidebar.html" class="captionTitle">The Rookery Hotel</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="detailsInfo">
                                <h5>
                                    <span>Start From</span> $40
                                </h5>
                                <ul class="list-inline detailsBtn">
                                    <li><a href='booking-1.html' class="btn buttonTransparent">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <div class="thumbnail deals hotelgrid">
                        <img src="../../../assets/img/holets/hotel-list-02.jpg" alt="deal-image">
                        <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
                        <div class="discountInfo discountCol-3">
                            <ul class="list-inline rating homePage">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            </ul>
                            <ul class="list-inline dates">
                                <li>3 review</li>
                            </ul>
                        </div>
                        <div class="caption">
                            <h4><a href="single-hotel-right-sidebar.html" class="captionTitle">The Rookery Hotel</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="detailsInfo">
                                <h5>
                                    <span>Start From</span> $35
                                </h5>
                                <ul class="list-inline detailsBtn">
                                    <li><a href='booking-1.html' class="btn buttonTransparent">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <div class="thumbnail deals hotelgrid">
                        <img src="../../../assets/img/holets/hotel-list-03.jpg" alt="deal-image">
                        <a href="single-hotel-right-sidebar.html" class="pageLink"></a>
                        <div class="discountInfo discountCol-3">
                            <ul class="list-inline rating homePage">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <ul class="list-inline dates">
                                <li>5 review</li>
                            </ul>
                        </div>
                        <div class="caption">
                            <h4><a href="single-hotel-right-sidebar.html" class="captionTitle">The Rookery Hotel</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="detailsInfo">
                                <h5>
                                    <span>Start From</span> $40
                                </h5>
                                <ul class="list-inline detailsBtn">
                                    <li><a href='booking-1.html' class="btn buttonTransparent">Book now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>